<aside class="md:relative absolute w-64 bg-white dark:bg-zinc-800 shadow-xl md:shadow shadow-slate-600 h-screen justify-between hidden md:block z-50">
    {# Picture / Logo #}
    <div class="p-6 flex items-center">
        <img class="border-2 border-aqua-forest dark:border-twilight-forest rounded-full bg-white" src="{{ asset('images/nyuwking_500.png') }}" alt="Logo" />
    </div>
    {# Settings Button #}
    <button id="open-settings" class="absolute text-center py-2 px-2 text-2xl w-10 top-0 right-0">
        <i class="fa-solid fa-gear"></i>
    </button>
    <div id="settings-wrapper" class="fixed z-50 inset-0 hidden">
        <div class="fixed inset-0 bg-black/20 backdrop-blur-sm"></div>
        <div id="settings" class="fixed top-4 left-4 w-full max-w-xs bg-white rounded-lg shadow-lg px-6 pt-4 pb-6 dark:bg-zinc-800 border-2 border-aqua-forest dark:border-twilight-forest">
            <div class="text-lg">{{ 'Paramètres'|trans }}</div>
            <button id="close-settings" type="button" class="absolute top-2 right-2 w-8 h-8 flex items-center justify-center hover:text-black hover:dark:text-slate-200">
                <i class="fa-solid fa-xmark"></i>
            </button>
            {# Change theme #}
            <div class="setting-line">
                <label for="change-theme">{{ 'Thème'|trans }}</label>
                <div class="select-container">
                    <span><i class="fa-solid fa-sun"></i></span>
                    <span class="hidden"><i class="fa-solid fa-moon"></i></span>
                    <span class="inner-text mx-3"></span>
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="change-theme">
                        <option value="light">{{ 'Clair'|trans }}</option>
                        <option value="dark">{{ 'Sombre'|trans }}</option>
                        <option value="system">{{ 'Système'|trans }}</option>
                    </select>
                </div>
            </div>
            {# Change language #}
            <div class="setting-line">
                <label for="change-language">{{ 'Langue'|trans }}</label>
                <div class="select-container">
                    <span class="inner-text mr-3">{{ app.request.locale|trans }}</span>
                    <i class="fa-solid fa-chevron-down"></i>
                    <select name="change-language">
                        {% for locale in locale_list() %}
                            <option value="{{ locale }}" {{ app.request.locale == locale ? 'selected="selected"' : '' }}>{{ locale|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    {# Navigation #}
	<nav class="pt-4">
		<ul>
			{% for item in menu.items %}
				<li class="flex w-full justify-between cursor-pointer items-center mb-6 px-8">
					<a href="{{ path(item.route, {'_locale': app.request.locale}) }}" class="{{ app.request.get('_route') == item.route ? 'text-panda-600 active' : '' }}">
						<i class="{{ item.icon }} w-4"></i>
						<span class="ml-2">{{ item.label|trans }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
    {# Socials #}
    {% if socials|length > 0 %}
        <div id="socials" class="absolute bottom-0 w-full py-2">
            <div class="w-full mb-3 text-center pr-2"># {{ 'Mes réseaux'|trans }}</div>
            <div class="flex flex-row items-center justify-around px-6 text-2xl">
                {% for social in socials %}
                    <a href="{{ social.target }}" class="{{ social.class }}" target="_blank" title="{{ social.name }}"><i class="fa-brands {{ social.icon }}"></i></a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</aside>